langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
pypdf
python-dotenv
pymupdf
langchain_text_splitters
langchain_core
python-docx
pdfminer
unstructured[xlsx]
docx2txt
pandas>=3.0.2
openpyxl
jq
ipywidgets
matplotlib
langchain-chroma

#Embeddings
langchain-huggingface
sentence-transformers